[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "UltraBlog.vim"]
	path = UltraBlog.vim
	url = https://github.com/xbot/UltraBlog.vim.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/ultrablog"]
	path = bundle/ultrablog
	url = https://github.com/xbot/UltraBlog.vim.git
[submodule "bundle/nerd-tree"]
	path = bundle/nerd-tree
	url = https://github.com/scrooloose/nerdtree.git
